<div id=details>
  <span class="image main"><img src='{{hotel.imagen}}' alt="" /></span>
  <p>Nombre: {{hotel.nombre}}</p>
  <p>Fecha de entra: {{hotel.fecha_entrada}}</p>
  <p>Fecha de salida: {{hotel.fecha_salida}}</p>
  <p>Municipio: {{hotel.municipio}}</p>
  <p>Provincia: {{hotel.provincia}}</p>
  <p>Comunidad: {{hotel.comunidad}}</p>
  <p>Estrellas: {{hotel.estrellas}} estrellas</p>
  <p>Tiene wifi: {{hotel.wifi}}</p>
  <p>Tiene piscina: {{hotel.piscina}}</p>
  <p>Tiene playa: {{hotel.playa}}</p>
  <p>Tiene actividades: {{hotel.actividades}}</p>
  <p>Incluye comida: {{hotel.comida}}</p>
  <p>Tiene spa: {{hotel.spa}}</p>
  <p>Observaciones: {{hotel.observaciones}}</p>
</div>
