
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


							<!-- Section -->
								<section>
									<header class="major">
										<h2>Lo más visto</h2>
									</header>
									<section id="search" class="alt">
									<form method="post">
										<input type="text" name="query" id="query" ng-model= "query" ng-keyup="complete(query)" placeholder="Search" />
                    <ul class="list-group" ng-model="hideAutocomplete" ng-hide="hideAutocomplete">
                      <li class="list-group-item" ng-repeat="name in autocompleteNames track by $index" ng-click="fillQuery(name)">{{name}}</li>
                    </ul>
									</form>
                   <a href='#/list'>Míralo en GMaps!</a>
								</section>
                  <br>
                  <br>
                <div infinite-scroll='nextScroll()'>
									<div ng-repeat="i in filteredHoteles track by $index" infinite-scroll-disabled='scroll' class="posts">
                    <article>
                      <a class="image"><img src="{{i.imagen}}" alt="Ha ocurrido un error" /></a>
                      <h3>{{i.nombre}}</h3>
                      <p>{{i.fecha_entrada}} - {{i.fecha_salida}}</p>
                      <p>{{i.municipio}}, {{i.provincia}}, {{i.comunidad}}</p>
                      <ul class="actions">
                        <a href='#/list/details/{{i.id}}'>More</a>
                      </ul>
                    </article>
									</div>
                </div>
                <div>
									<div ng-repeat="i in filteredHotelesPag track by $index" class="posts">
                    <article>
                      <a class="image"><img src="{{i.imagen}}" alt="Ha ocurrido un error" /></a>
                      <h3>{{i.nombre}}</h3>
                      <p>{{i.fecha_entrada}} - {{i.fecha_salida}}</p>
                      <p>{{i.municipio}}, {{i.provincia}}, {{i.comunidad}}</p>
                      <ul class="actions">
                        <a href='#/list/details/{{i.id}}'>More</a>
                      </ul>
                    </article>
									</div>
									<div id="show_paginator">
                    <uib-pagination class="pagination-sm pagination" total-items="autocompleteHoteles.length" ng-model="currentPagePag"
                      ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>
                    </div>
                    </div>
								</section>

								<section id="hotel_modal">
</section>
