<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
<script type="text/javascript" src="<?php echo LOGIN_JS_PATH?>login.js"></script>
<script type="text/javascript" src="<?php echo LOGIN_JS_PATH?>twitter.js"></script>
<script type="text/javascript" src="<?php echo LOGIN_JS_PATH?>fb.js"></script>
<form>
  <br><br>
  <div class="row uniform">
    <div class="12u$" id="error_cuenta" hidden>
      <font color="red">&nbsp;&nbsp;Esta cuenta no ha sido confirmada, revisa el email y apreta en el link que te hemos enviado para activar tu cuenta</font>
    </div>
    <div class="12u$" id="error_username" hidden>
      <font color="red">&nbsp;&nbsp;No has introducido ningún nombre de usuario</font>
    </div>
    <div class="12u$" id="error_username_exists" hidden>
      <font color="red">&nbsp;&nbsp;El nombre de usuario que has introducido no existe</font>
    </div>
    <div class="12u$">
      <input type="text" name="username" id="username" value="" placeholder="Username"/>
    </div>
    <!-- Break -->
    <div class="12u$" id="error_pass" hidden>
      <font color="red">&nbsp;&nbsp;No has introducido ninguna contraseña</font>
    </div>
    <div class="12u$" id="error_user" hidden>
      <font color="red">&nbsp;&nbsp;La contraseña no se corresponde con el nombre de usuario</font>
    </div>
    <div class="12u$">
      <input type="password" name="pass" id="pass" value="" placeholder="Password"/>
    </div>
  </div>
  <br><br>
  <div class="12u$">
    <ul class="actions">
      <li><input type="button" id="login" value="Login" class="special" /></li>
      <li><input type="button" id="loginfb" value="Login con fb" class="special" /></li>
      <li><input type="button" id="logintw" value="Login con tw" class="special" /></li>
      <li align="right"><a href="../login/register">No tienes una cuenta? Regístrate</a></li>
      <li align="right"><a href="../login/recover_pass">He olvidado mi contraseña</a></li>
    </ul>
  </div>
</form>
