<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<!--end of dropzone scripts-->
<script type="text/javascript" src="<?php echo HOTEL_JS_PATH?>controller_hotel.js"></script>

<!-- Form -->
													<h3>Form</h3>

													<form>
														<tr>
          										<td>
          										</td>
          											<td>
																	<div class="12u$" id="error_dropzone_size" hidden>
																		<font color="red">&nbsp;&nbsp;Las dimensiones de la imagen son demasiado grandes</font>
																	</div>
																	<div class="12u$" id="error_dropzone_extension" hidden>
																		<font color="red">&nbsp;&nbsp;El formato de la imagen no es un formato válido</font>
																	</div>
																	<div class="12u$" id="error_dropzone_invalid" hidden>
																		<font color="red">&nbsp;&nbsp;La imagen es inválida</font>
																	</div>
																	<div class="12u$" id="error_dropzone" hidden>
																		<font color="red">&nbsp;&nbsp;Ha ocurrido un error</font>
																	</div>
											            <br/>
											            <div id="dropzone" class="dropzone"></div><br/>
											          </td>
											        </tr>
														<div class="row uniform">
															<div class="6u 12u$(xsmall)" id="error_name" hidden>
																<font color="red">&nbsp;&nbsp;No has introducido ningún nombre</font>
															</div>
															<div class="6u 12u$(xsmall)" id="false_error_name" hidden>
																<font color="red">&nbsp;&nbsp;</font>
																</div>
															<div class="6u 12u$(xsmall)" id="error_price" hidden>
																<font color="red">&nbsp;&nbsp;No has introducido ningún precio</font>
															</div>
															<div class="6u 12u$(xsmall)" id="error_price2" hidden>
																<font color="red">&nbsp;&nbsp;No has introducido un precio válido</font>
															</div>
															<div class="6u 12u$(xsmall)" id="false_error_price" hidden>
																<font color="red">&nbsp;&nbsp;</font>
															</div>
															<div class="6u 12u$(xsmall)">
																<input type="text" name="name" id="name" value="" placeholder="Name"/>
															</div>
															<div class="6u 12u$(xsmall)">
																<input type="text" name="price" id="price" value="" placeholder="Price"/>
															</div>
															<!-- Break -->
															<div class="12u$" id="error_fecha" hidden>
																<font color="red">&nbsp;&nbsp;La fecha de inicio no puede ser posterior a la fecha final</font>
															</div>
															<div class="6u 12u$(xsmall)" id="error_fecha_inicio" hidden>
																<font color="red">&nbsp;&nbsp;No has introducido ninguna fecha</font>
															</div>
															<div class="6u 12u$(xsmall)" id="error_fecha_inicio2" hidden>
																<font color="red">&nbsp;&nbsp;No has introducido una fecha válida</font>
															</div>
															<div class="6u 12u$(xsmall)" id="false_error_fecha_inicio" hidden>
																<font color="red">&nbsp;&nbsp;</font>
															</div>
															<div class="6u 12u$(xsmall)" id="error_fecha_final" hidden>
																<font color="red">&nbsp;&nbsp;No has introducido ninguna fecha</font>
															</div>
															<div class="6u 12u$(xsmall)" id="error_fecha_final2" hidden>
																<font color="red">&nbsp;&nbsp;No has introducido una fecha válida</font>
															</div>
															<div class="6u 12u$(xsmall)" id="false_error_fecha_final" hidden>
																<font color="red">&nbsp;&nbsp;</font>
															</div>
															<div class="6u 12u$(xsmall)">
																<input type="text" name="fecha_inicio" id="fecha_inicio" value="" placeholder="Fecha inicio" readonly/>
															</div>
															<div class="6u$ 12u$(xsmall)">
																<input type="text" name="fecha_final" id="fecha_final" value="" placeholder="Fecha final" readonly/>
															</div>

															<!-- Break -->
															<div class="4u 12u$(xsmall)" id="error_comunidad" hidden>
																<font color="red">&nbsp;&nbsp;Selecciona una comunidad</font>
															</div>
															<div class="4u 12u$(xsmall)" id="false_error_comunidad" hidden>
																<font color="red">&nbsp;&nbsp;</font>
															</div>
															<div class="4u 12u$(xsmall)" id="error_provincia" hidden>
																<font color="red">&nbsp;&nbsp;Selecciona una provincia</font>
															</div>
															<div class="4u 12u$(xsmall)" id="false_error_provincia" hidden>
																<font color="red">&nbsp;&nbsp;</font>
															</div>
															<div class="4u 12u$(xsmall)" id="error_municipio" hidden>
																<font color="red">&nbsp;&nbsp;Selecciona un municipio</font>
																<div class="4u 12u$(xsmall)" id="false_error_municipio" hidden>
																	<font color="red">&nbsp;&nbsp;</font>
																</div>
															</div>
															<div class="4u 12u$(small)">
																<div class="select-wrapper">
																	<select name="comunidad" id="comunidad">
																		<option value="0">- Seleccione comunidad -</option>
																	</select>
																</div>
															</div>
															<div class="4u 12u$(small)">
																<div class="select-wrapper">
																	<select name="provincia" id="provincia">
																		<option value="0">- Seleccione provincia -</option>
																	</select>
																</div>
															</div>
															<div class="4u 12u$(small)">
																<div class="select-wrapper">
																	<select name="municipio" id="municipio">
																		<option value="0">- Seleccione municipio -</option>
																	</select>
																</div>
															</div>
															<!-- Break -->
															<div class="12u$" id="error_valoracion" hidden>
																<font color="red">&nbsp;&nbsp;No tienes seleccionado ningún elemento</font>
															</div>
															<div class="4u 12u$(small)">
																<input type="radio" id="valoracion_3" name="valoracion" value="3" checked>
																<label for="valoracion_3">3 estrellas</label>
															</div>
															<div class="4u 12u$(small)">
																<input type="radio" id="valoracion_4" name="valoracion" value="4">
																<label for="valoracion_4">4 estrellas</label>
															</div>
															<div class="4u$ 12u$(small)">
																<input type="radio" id="valoracion_5" name="valoracion" value="5">
																<label for="valoracion_5">5 estrellas</label>
															</div>
															<!-- Break -->
															<div class="6u 12u$(small)">
																<input type="checkbox" id="wifi" name="caracteristicas" value="wifi"class="caracteristicas">
																<label for="wifi">Tiene wifi</label>
															</div>
															<div class="6u$ 12u$(small)">
																<input type="checkbox" id="piscina" name="caracteristicas" value="piscina" class="caracteristicas">
																<label for="piscina">Tiene piscina</label>
															</div>
															<div class="6u 12u$(small)">
																<input type="checkbox" id="playa" name="caracteristicas" value="playa" class="caracteristicas">
																<label for="playa">Tiene playa</label>
															</div>
															<div class="6u$ 12u$(small)">
																<input type="checkbox" id="actividades" name="caracteristicas" value="actividades" class="caracteristicas">
																<label for="actividades">Tiene actividades asistidas</label>
															</div>
															<div class="6u 12u$(small)">
																<input type="checkbox" id="comida" name="caracteristicas" value="comida" class="caracteristicas">
																<label for="comida">Incluye comida</label>
															</div>
															<div class="6u$ 12u$(small)">
																<input type="checkbox" id="spa" name="caracteristicas" value="spa" class="caracteristicas">
																<label for="spa">Tiene spa</label>
															</div>
															<!-- Break -->
															<div class="12u$" id="error_observaciones" hidden>
																<font color="red">&nbsp;&nbsp;No hay ninguna observación</font>
															</div>
															<div class="12u$">
																<textarea name="observaciones" id="observaciones" placeholder="Observaciones" rows="6"></textarea>
															</div>
															<!-- Break -->
															<div class="12u$">
																<ul class="actions">
																	<li><input type="button" id="create" value="Create" class="special" /></li>
																	<li><input type="reset" value="Reset" /></li>
																</ul>
															</div>
														</div>
													</form>
