
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="<?php echo JS_PATH ?>bootpag.js"></script>
    <script type="text/javascript" src="<?php echo HOME_JS_PATH?>home.js"></script>
    

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Lo más visto</h2>
									</header>
									<section id="search" class="alt">
									<form method="post">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
                  <button class="btn" id="map">Míralo en gmaps!</button>
								</section>
                  <br>
                  <br>
									<div class="posts">
									</div>
									<div id="show_paginator"></div>
								</section>

								<section id="hotel_modal">
    <div id="details_hotel" hidden>
        <div id="details">
            <div id="container">
							<div id="image"></div>
                Nombre: <div id="nombre"></div></br>
                Fecha de entrada: <div id="fecha_entrada"></div></br>
                Fecha de salida: <div id="fecha_salida"></div></br>
                Lugar: <div id="municipio">,</div> <div id="provincia">,</div> <div id="comunidad"></div></br>
                Calidad: <div id="calidad"></div></br>
                Wifi: <div id="wifi"></div></br>
								Piscina: <div id="piscina"></div></br>
								Playa: <div id="playa"></div></br>
								Actividades: <div id="actividades"></div></br>
								Comida: <div id="comida"></div></br>
								Spa: <div id="spa"></div></br>
                Observaciones: <div id="observaciones"></div></br>
                <div id="map"></div>
        </div>
    </div>
</section>
