<script type="text/javascript" src="<?php echo LIST_JS_PATH?>list.js"></script>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      html, body, #map {
        height: 100%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
    </style>
         <div id="map" style="height:720px; width:1000px;"></div>
         <script type="text/javascript"
       src="//maps.googleapis.com/maps/api/js?key=AIzaSyDPKdo_uyKw27vzZ4xB-4xRUjkMkemGZCQ">
     </script>
</html>
